@model SpaDay.ViewModel.AddUserViewModel;


@{
}

<h1>Sign Up Form</h1>

@if (ViewBag.error != null)
{
    <p>@ViewBag.error</p>
}

<form method="post" action="/user">
    Username:
    <br>
    <div class="form-group">
        <input asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <br>
    Email:
    <br>
    <div class="form-group">

        <input type="email" asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <br>
    Password:
    <br>
    <div class="form-group">

        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br>
    Confirm Password:
    <br>
    <div class="form-group">
        <input type="password" asp-for="VerifyPassword" />
        <span asp-validation-for="VerifyPassword"></span>
    </div>
    <br>
    <input type='submit' value='Submit'>
</form>